# Go
apps/backend/go.sum

# Env files
**/.env
**/.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
apps/frontend/node_modules/
apps/frontend/dist/

# Build artifacts
apps/backend/attends-moi

# Docker
docker-compose.override.yml
